.App {
  text-align: center;
}

.App-header {
  background-color: #F5F5F5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #707070;
}

button{
  background-color: #FFFFFF;
  border: 1px solid #707070;
  box-shadow: #707070;
  color: #707070;
}

.status{
  background-color: #FFFFFF;
}